<%- include('partials/style'); -%>
    <h1 style="margin-top:30px;text-align:center;">Thanks For Being Valuable and Contributing
        <%= user.name %>.
    </h1>
    <a style="color:white;display: block;text-align: center;margin:30px auto;padding:20px;width:20%;background:red;border-radius:30px" href="/users/<%= user.name %>">Go Back 
    </a>